.page {
  height: 100vh;
  background-color: #18171d;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
  padding: 0 2rem;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.title {
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 5rem;
  color: white;
}

.input {
  margin-top: 5.7rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #555;
  color: white;
  font-size: 2.2rem;
  padding-bottom: 0.8rem;
  outline: none;
}

.submitButton {
    position: fixed;
    width: calc(100% - 4rem);
    height: 6rem;
    background-color: #01a26c;
    color: white;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  .submitButton:disabled {
    background-color: #12332d;
  }
  
  /* ✅ 크롬, 엣지, 사파리에서 스핀 버튼 숨기기 */
  .input::-webkit-outer-spin-button,
  .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* ✅ 파이어폭스에서 스핀 버튼 숨기기 */
  .input[type="number"] {
    -moz-appearance: textfield;
  }