.page {
  height: 100vh;
  width: 100vw;
  background-color: #18171d;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: hidden;
}

.heading {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.inputWrapper {
  display: flex;
  color: #747477;
  flex-direction: column;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.button {
  position: fixed;
  width: calc(100% - 4rem);
  height: 6rem;
  background-color: #00a36c;
  color: white;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  top: calc(100vh - 6rem - 2rem);
}

.button:disabled {
  background-color: #154d3a;
}

.button:active {
  background-color: #00a36c;
}
