.page {
    padding-top: 8rem;
    min-height: 100vh;
    background-color: #18171D;
    display: flex;
    flex-direction: column;
}

.section {
    flex-grow: 1;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.thumbnail{
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.category{
    margin-left: 2rem;
    font-size: 1.4rem;
    color: #7F7F89;
    margin-bottom: 1rem;
}

.product{
    margin-left: 2rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.gradeAndAmount{
    margin-left: 2rem;
    font-size: 1.4rem;
    color: #7F7F89;
    margin-bottom: 3rem;
}

.price{
    margin-left: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.buttonContainer {
    padding: 2rem;
}