.page {
    min-height: 100vh;
    background-color: #101012;
    display: flex;
    flex-direction: column;
}

.section {
    flex-grow: 1;
    padding: 5rem 2rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: visible;
}

.profileContainer {
    background-color: #18171d;
    border-radius: 1.2rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImage {
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
}

.InfoAndSettingContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 100%;
    text-align: left;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

.saveButton {
    background-color: #2c2c36;
    padding: 1rem;
    border-radius: 1.4rem;
    width: 5rem;
    margin-top: 3rem;

    &:hover {
        background-color: #42424d;
        cursor: pointer;
    }
}

.itemBox {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.iconBox {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.8rem;
    background-color: #2c2c36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
}

.text {
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 400;
}

.editingStyle {
    padding: 0.8rem;
    background-color: #2c2c36;
    border-radius: 1.2rem;
    width: 50%;
}
