.page {
  height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #18171d;
  overflow: hidden;
}

.heading {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.inputWrapper {
  width: 100%;
}

.addressWrapper {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.label {
  color: #747477;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.inputField {
  height: auto;
  color: white;
  font-size: 2.2rem;
  padding-bottom: 1rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0;
  background: transparent;
}

.inputField::placeholder {
  color: #46454a;
}

.inputField:focus {
  border-color: #00a36c;
  outline: none;
}

.grow {
  flex-grow: 1;
}

.button {
  position: fixed;
  width: calc(100% - 4rem);
  height: 6rem;
  background-color: #00a36c;
  color: white;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  bottom: 9rem;
  padding: 0 2rem;
}

.button:active {
  background-color: #00A36C;
}

.button:disabled {
  background-color: #154d3a;
  cursor: not-allowed;
}
