.page {
    height: 100vh;
    background-color: #18171D;
    display: flex;
    flex-direction: column;
}

.section {
    flex-grow: 1;
    padding: 0 2rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.packageCard {
    padding: 2rem;
    border-radius: 1.2rem;
    background-color: #202028;
    margin-bottom: 3rem;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.listViewTitle {
    font-size: 1.6rem;
    font-weight: bold;
}

.blank {
    flex-grow: 1;
}

.iconButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.6rem;
    background-color: #00A36C;
}

.iconButtonImage {
    width: 1.8rem;
    height: 1.8rem;
}

.listView {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 10rem;
}

.productItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productThumbnail {
    width: 6rem;
    height: 6rem;
    border-radius: 1.2rem;
    margin-right: 1rem;
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.productName {
    font-size: 1.4rem;
    color: #7F7F89;
}

.categoryAndAmount {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 1rem;
    color: white;
}

.searchOtherProductsButtonIcon {
    width: 1.8rem;
    height: 1.8rem;
}

.deleteProductButtonIcon {
    width: 1.8rem;
    height: 1.8rem;
}

/* 오버레이: 화면 전체를 덮고 배경을 어둡게 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* 모달: 오버레이 위에 중앙에 표시, 아래에서 위로 올라오는 애니메이션 포함 */
.modal {
    position: fixed;
    bottom: 0;
    background-color: #202028;
    color: #ffffff;
    width: 100%;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 2rem 2rem 0 0;
    animation: _slideUp_115z7_1 0.3s forwards;
    z-index: 1000;
}

/* 아래에서 위로 올라오는 애니메이션 */
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.modalTitle {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.description {
    font-size: 1.6rem;
    margin-bottom: 6rem;
    color: #ffffff;
}

.modalButtonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    padding: 2rem;
}