.page {
    padding-top: 10rem;
    min-height: 100vh;
    background-color: #101012;
    display: flex;
    flex-direction: column;
}

.section {
    flex-grow: 1;
    padding: 0 2rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: visible;
}

.section::-webkit-scrollbar {
    display: none;
}

.contentContainer {
    background-color: #18171d;
    border-radius: 1.2rem;
    padding: 2rem;
    margin-bottom: 3rem;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.blank {
    flex-grow: 1;
}

.findPackageButton {
    padding: 0.8rem 1.2rem;
    background-color: #00a36c;
    font-size: 1.4rem;
    border-radius: 0.8rem;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.icon {
    width: 2.4rem;
    margin-right: 0.8rem;
}

.description {
    font-size: 1.4rem;
    font-weight: 600;
}

.descriptionSpan {
    font-size: 1.2rem;
}

.bannerContainer{
    width: 100%;
}

.bannerImage{
    width: 100%;
}

.industrySelectContainer{
    background-color: #18171D;
    padding: 2rem;
}

.packageListView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    gap: 1.6rem;
    margin-bottom: 5rem;
    overflow: visible;
}

.industryTitleContainer{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.industryTitle{
    font-size: 2rem;
    font-weight: 600;
}

.nextButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nextButtonText{
    font-size: 1.5rem;
    color: #7F7F89;
}

.nexButtonImage{
    width: 2rem;
    height: 2rem;
}

.industryGrid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.industryItem{
    height: 10rem;
    padding: 1rem;
    background-color: #2C2C36;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.industryItemImage{
    width: 3.6rem;
    height: 3.6rem;
}

.industryItemText{
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.listViewContainer{
    background-color: #18171D;
    margin-top: 2rem;
    padding: 2rem;
    padding-bottom: 0;
}

.listViewTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.spinnerContainer{
    display: flex;
    justify-content: center;
    align-items: start;
}

.skeletonContainer {
    margin-top: 0;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}