.page {
    padding-top: 8rem;
    background-color: #18171D;
    display: flex;
    flex-direction: column;
}

.section {
    flex-grow: 1;
    padding: 0 2rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.section::-webkit-scrollbar {
    display: none;
}

.title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.contentTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contentTitle {
    font-size: 2rem;
    font-weight: bold;
}

.description {
    font-size: 1.6rem;
    color: #7F7F89;
}

.blank{
    flex-grow: 1;
}

.contentIcon {
    width: 6.4rem;
    height: 6.4rem;
}

.packageLitView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
}

.iconContainer{
    padding: 1.5rem;
    border-radius: 100rem;
    background-color: rgb(0, 163, 108, 0.5)
    ;
}

.icon{
    width: 5.4rem;
}