.page {
    min-height: 100vh;
    background-color: #101012;
    display: flex;
    flex-direction: column;
    background-size: cover;
    overflow: auto;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    pointer-events: none;
}

.section {
    flex-grow: 1;
    margin-top: 9.2rem;
    margin-bottom: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    /* padding: 0 2rem; */
    
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #101012;
}

.listViewTitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
}

.productContainer {
    padding: 2rem;
    background-color: #18171d;
    overflow: auto;
}

.buttonContainer {
    width: 100%;;
    max-width: 500px;
    position: fixed;
    bottom: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.addProductButton {
    display: flex;
    background-color: #00a36c;
    color: white;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 4rem;
    padding-top: 0.3rem;
    margin-right: 2rem;

}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.moreLoadSpinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.footerBar {
    position: fixed;
    width: 100vw;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
}