.page {
    min-height: 100vh;
    background-color: #101012;
    display: flex;
    flex-direction: column;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
}
.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    pointer-events: none;
}

.section {
    flex-grow: 1;
    margin-top: 9.2rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* .section::-webkit-scrollbar {
    display: none;
} */

.listViewTitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
}

.addProductButton {
    position: fixed;
    display: flex;
    background-color: #00a36c;
    color: white;
    bottom: 10vh;
    right: 2rem;
    font-size: large;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.moreLoadSpinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.footerBar {
    position: fixed;
    width: 100vw;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
}
